*{
    font-family: sans-serif;
}
/* header navbar styles here  */
/* menu icon css */
.navbar .menu-icon span{
    width: 24px;
    height: 3px;
    background: #000;
}
.navbar .menu-icon{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    display: none;
}
.navbar .menu-icon:hover span:first-child{
    transform: translateY(2px) rotate(45deg);
}
.navbar .menu-icon:hover span:last-child{
    transform: translateY(-4px) rotate(-45deg);
}
.navbar .menu-icon:hover span:nth-child(2){
    display: none;
}

body a{
    text-decoration: none; /* for hyper links */
    color: #000;
}
/* header container styles are here */
.header-container{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.menu-bar{
    list-style-type: none;
    display: flex;
    gap: 30px;
}
/* header banner css */
.banner-info{
    display: flex;
    flex-direction: column;
}
.banner-img{
    width: 100%;}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: url('../images/Circle\ design.svg') right no-repeat;
}

/* mobile view responsive styles  */
@media screen and (max-width:576px) {
    .navbar .menu-icon{
        display: flex;
    }
}