@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: poppins;
}
/* header navbar styles here  */
/* menu icon css */
/* only for mobile devices  */
.navbar .menu-icon span{
    width: 24px;
    height: 3px;
    background: #000;
}
.navbar .menu-icon{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    display: none;
}
.nav-store{
    display: none;
}
.navbar .menu-icon:hover span:first-child{
    transform: translateY(2px) rotate(45deg);
}
.navbar .menu-icon:hover span:last-child{
    transform: translateY(-4px) rotate(-45deg);
}
.navbar .menu-icon:hover span:nth-child(2){
    display: none;
}

body a{
    text-decoration: none; /* for hyper links */
    color: #000;
}
/* header container styles are here */
.header-container{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.brand{
    color: rgb(58, 58, 58);
    font-size: 1.5rem;
    font-weight: 700;
}
.menu-bar{
    list-style-type: none;
    display: flex;
    gap: 30px;
}
/* menu-bar for mobile devices  */

/* header banner css */
.banner-info{
    display: flex;
    flex-direction: column;
    margin-top: 145px;
}
.banner-title{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
}
.banner-description{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
}
.banner-btn{
    width: 196px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 41px;
    margin-top: 26px;
    cursor: pointer;
}
.banner-img{
    width: 100%;
    margin-top: 80px;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 132px;
    background: url('../images/Circle\ design.svg') right no-repeat;
}
.sponsors{
    margin-top: 105px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 60px;
}
.sponsors img{
    width: 100%;
}
/* main section styles are here  */
.star-rating { /* rating for products using css and js */
    font-size: 24px;
    color: gray;
    cursor: pointer;
}
.star-rating i { /* rating for products using css and js */
    transition: color 0.3s;
}
.star-rating i.active { /* rating for products using css and js */
    color: gold;
}
.collection{
    max-width: 1147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;    
}
.collection-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.collection-card{
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 17px 14px;
}
.collection-card img{
    width: 100%;
}
.card-heading{
    color: rgb(24, 25, 31);
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: capitalize;
}
.product-price{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}
.product-details{
    color: rgb(120, 120, 133);
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 700;
}
.collection a:last-child{
    align-self: flex-end;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 50px;
}

/* featured seciton style from here  */
.featured{
    max-width: 1110px;
    margin: 100px auto;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    column-gap: 93px;
}
.featured-img{
    width: 100%;
}
.featured-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featured-heading{
    color: rgb(10, 8, 38);
    font-family: Poppins;
    font-size: 2.3rem;
    font-weight: 700;
}
.featured-description{
    color: rgb(108, 108, 108);
    font-size: 1rem;
    font-weight: 700;
}
.featured-btn{
    width: 155px;
    height: 44px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
/* mobile view responsive styles  */
@media screen and (max-width:576px) {
    .navbar .menu-icon, .nav-store, .navbar{
        display: flex;
        align-items: center;
    }
    .menu-bar{
        display: none;
        flex-direction: column;
        position: absolute;
        width: calc(100% - 120px);
        max-height: 400px;
        top: -15px;
        background: #ffffff;
        box-shadow: 0 0 5px rgb(225, 225, 225);
        left: 40px;
        }
        .menu-bar .menu-item:last-child{
            display: none;
        }
        .menu-bar .menu-item{
            text-align: center;
        }
    .menu-icon:hover ~ .menu-bar{
        display: flex;
    }
    .banner-img{
        grid-area: bannerImg;
    }
    .banner-info{
        grid-area: bannerInfo;
    }
    .banner{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "bannerImg"
        "bannerInfo"
        ;
        background: none;
    }
    .banner-info{
        margin-top: 0;
        text-align: center;
        align-items: center;
    }
    .sponsors{
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .collection-heading{
        color: rgb(58, 58, 58);
        font-family: Poppins;
        font-size: 1.75rem;
        font-weight: 600;
    }
    .collection-gallery{
        grid-template-columns: repeat(1, 1fr);
    }
    .collection a:last-child{
        align-self: center;
    }
    .featured-img{
        grid-area: featuredImg;
    }
    .featured-info{
        grid-area: featuredInfo;
    }
    .featured{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "featuredInfo"
        "featuredImg"
        ;
        text-align: center;
        gap: 30px;
    }
    .featured-btn{
        margin: 0 auto;
    }
}
/* responsive for medium devices  */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner-img{
        grid-area: bannerImg;
        width: 80%;
        margin: 0 auto;
    }
    .banner-info{
        grid-area: bannerInfo;
        align-items: center;
        text-align: center;
    }
    .banner{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "bannerImg"
        "bannerInfo"
        ;
        background-position: top;
    }
    .sponsors{
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
    }
    .collection-gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}